 body{ 
    width: 100%; 
    height: 100%; 
    margin: 0; }
a{ 
    text-decoration: none; 
    background-color: transparent;
    color:blue; 
}
a:link{color:blue}
.form-group{
margin-bottom:15px;
}
footer{
padding: 10px 0;
background-color: #101010;
color:#9d9d9d;
bottom:0;
width: 100%;
}
